flask==3.0.3
flask-sqlalchemy==3.1.1
flask-login==0.6.3
python-dotenv==1.0.1
requests==2.32.3
xero-python==7.1.0
authlib==1.3.1
cryptography==42.0.8
Werkzeug==3.0.3
SQLAlchemy==2.0.31
gunicorn==22.0.0
psycopg2-binary==2.9.9
